
<h2>Hello Ajax!</h2>

<ul id="users">
</ul>

<p>First Name</p>
<input type='text' id='first_name'/>
<br />
<p>Last Name</p>
<input type='text' id='last_name'/>
<br />
<button id="button">Submit</button>
<
